<a href="https://colab.research.google.com/github/BlackCurrantDS/Data-Mining/blob/master/Spotify_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv("/content/Onyx Data - DataDNA Dataset Challenge - July 2021 - Spotify Tracks.csv")

In [47]:
df.head()

                       id  ... time_signature
0  35iwgR4jXetI318WEWsa1Q  ...              3
1  021ht4sdgPcrDgSk7JTbKY  ...              1
2  07A5yehtSnoedViJAZkNnc  ...              5
3  08FmqUhxtyLTn6pAh6bk45  ...              3
4  08y9GfoqCWfOGsKdwojr5e  ...              4

[5 rows x 20 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586672 entries, 0 to 586671
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                586672 non-null  object
 1   name              586601 non-null  object
 2   popularity        586672 non-null  int64
 3   duration_ms       586672 non-null  int64
 4   explicit          586672 non-null  int64
 5   artists           586672 non-null  object
 6   id_artists        586672 non-null  object
 7   release_date      586672 non-null  object
 8   danceability      586672 non-null  float64
 9   energy            586672 non-null  float64
 10  key               586672 non-null  int64
 11  loudness          586672 non-null  float64
 12  mode              586672 non-null  int64
 13  speechiness       586672 non-null  float64
 14  acousticness      586672 non-null  float64
 15  instrumentalness  586672 non-null  float64
 16  liveness          586672 non-null  float64
 17  valence           586672 non-null  float64
 18  tempo             586672 non-null  float64
 19  time_signature    586672 non-null  int64
dtypes: float64(9), int64(6), object(5)
memory usage: 89.5+ MB

In [49]:
df.describe()

          popularity   duration_ms  ...          tempo  time_signature
count  586672.000000  5.866720e+05  ...  586672.000000   586672.000000
mean       27.570053  2.300512e+05  ...     118.464857        3.873382
std        18.370642  1.265261e+05  ...      29.764108        0.473162
min         0.000000  3.344000e+03  ...       0.000000        0.000000
25%        13.000000  1.750930e+05  ...      95.600000        4.000000
50%        27.000000  2.148930e+05  ...     117.384000        4.000000
75%        41.000000  2.638670e+05  ...     136.321000        4.000000
max       100.000000  5.621218e+06  ...     246.381000        5.000000

[8 rows x 15 columns]

In [50]:
df.dtypes

id                   object
name                 object
popularity            int64
duration_ms           int64
explicit              int64
artists              object
id_artists           object
release_date         object
danceability        float64
energy              float64
key                   int64
loudness            float64
mode                  int64
speechiness         float64
acousticness        float64
instrumentalness    float64
liveness            float64
valence             float64
tempo               float64
time_signature        int64
dtype: object

In [51]:
df.isnull().sum()

id                   0
name                71
popularity           0
duration_ms          0
explicit             0
artists              0
id_artists           0
release_date         0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness     0
liveness             0
valence              0
tempo                0
time_signature       0
dtype: int64

In [52]:
#filling missing song names
df['name']=df['name'].fillna('NA')

In [53]:
#realease date looks like only had year at few instances
df['release_date'].describe()

count         586672
unique         19700
top       1998-01-01
freq            2893
Name: release_date, dtype: object

In [54]:
df[df["release_date"].str.contains('-')==False]

                            id  ... time_signature
4       08y9GfoqCWfOGsKdwojr5e  ...              4
5       0BRXJHRNGQ3W4v9frnSfhu  ...              4
6       0Dd9ImXtAtGwsmsAD69KZT  ...              5
7       0IA0Hju8CAgYfV1hwhidBH  ...              3
8       0IgI1UCz84pYeVetnl1lGP  ...              4
...                        ...  ...            ...
586428  43wazb5ksgV0TIFiz50Waf  ...              4
586437  55qUhpxE4CtUN3BnrsSXAy  ...              4
586473  5wtsUVV88h9jhtF4mOgxNN  ...              4
586499  2rBnlu0koZCnFhmwrRG9Zd  ...              4
586553  3zLTPuucd3e6TxZnu2dlVS  ...              3

[136489 rows x 20 columns]

In [55]:
136489/586672

0.2326495895491859

In [56]:
#since 23% percent rows only have year, comverting date wit year to 01-01-year value

In [57]:
df[df["release_date"].str.contains('-')==False]

                            id  ... time_signature
4       08y9GfoqCWfOGsKdwojr5e  ...              4
5       0BRXJHRNGQ3W4v9frnSfhu  ...              4
6       0Dd9ImXtAtGwsmsAD69KZT  ...              5
7       0IA0Hju8CAgYfV1hwhidBH  ...              3
8       0IgI1UCz84pYeVetnl1lGP  ...              4
...                        ...  ...            ...
586428  43wazb5ksgV0TIFiz50Waf  ...              4
586437  55qUhpxE4CtUN3BnrsSXAy  ...              4
586473  5wtsUVV88h9jhtF4mOgxNN  ...              4
586499  2rBnlu0koZCnFhmwrRG9Zd  ...              4
586553  3zLTPuucd3e6TxZnu2dlVS  ...              3

[136489 rows x 20 columns]

In [58]:
df['release_date'] = np.where(~df['release_date'].str.contains("-", na=False), df['release_date']+"01-01", df['release_date'])

In [59]:
df.loc[[4]]

                       id                 name  ...   tempo  time_signature
4  08y9GfoqCWfOGsKdwojr5e  Lady of the Evening  ...  103.22               4

[1 rows x 20 columns]

In [65]:
df['artists'].head()

0                Uli
1    Fernando Pessoa
2    Ignacio Corsini
3    Ignacio Corsini
4        Dick Haymes
Name: artists, dtype: object

In [61]:
df['artists'] = df['artists'].str.replace("]","")
df['artists'] = df['artists'].str.replace("[","")
df['artists'] = df['artists'].str.replace("'","")

In [66]:
df['artists'].describe()

count           586672
unique          114016
top       Die drei ???
freq              3856
Name: artists, dtype: object

In [ ]:
df.head(10)

In [68]:
df.to_csv("spotify_data.csv")