<a href="https://colab.research.google.com/github/BlackCurrantDS/Data-Mining/blob/master/starter_slogan_dataset_ffa80249_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction
Greetings from the Kaggle bot! This is an automatically-generated kernel with starter code demonstrating how to read in the data and begin exploring. If you're inspired to dig deeper, click the blue "Fork Notebook" button at the top of this kernel to begin editing.

## Exploratory Analysis
To begin this exploratory analysis, first import libraries and define functions for plotting the data using `matplotlib`. Depending on the data, not all plots will be made. (Hey, I'm just a simple kerneling bot, not a Kaggle Competitions Grandmaster!)

In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

Getting the data into a dataframe

In [13]:
nRowsRead = None # specify 'None' if want to read whole file
# sloganlist.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df = pd.read_csv('sloganlist.csv', delimiter=',', nrows = nRowsRead)
df.dataframeName = 'sloganlist.csv'
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1162 rows and 2 columns

Let's take a quick look at what the data looks like:

In [14]:
df.head(5)

        Company                          Slogan
0  Costa Coffee              For coffee lovers.
1         Evian              Evian. Live young.
2        Dasani  Designed to make a difference.
3      Heineken        It's all about the beer.
4      Gatorade           The Legend Continues.

In [23]:
#checking dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162 entries, 0 to 1161
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  1162 non-null   object
 1   Slogan   1162 non-null   object
dtypes: object(2)
memory usage: 18.3+ KB

Looks like no missing values, let's check duplicates

In [19]:
duplicate = df[df.duplicated('Company')]
  
print("Duplicate Rows :")

duplicate

Duplicate Rows :

                Company                            Slogan
26             Heineken          It's all about the beer.
27             Gatorade             The Legend Continues.
60              Colgate         Stronger, healthier gums.
61                Fanta      Drink Fanta, stay Bamboocha.
62            Pizza Hut                    Make it great.
...                 ...                               ...
1157       Levi's Jeans  Original jeans. original people.
1158  Dove (toiletries)     The secret of beautiful hair.
1159             Lipton                      Be more tea.
1160            Pampers     Discover your babyâs world.
1161          Coca-Cola                Taste The Feeling.

[593 rows x 2 columns]

In [22]:
df.loc[df['Company'] == 'Colgate']

      Company                     Slogan
20    Colgate  Stronger, healthier gums.
60    Colgate  Stronger, healthier gums.
100   Colgate  Stronger, healthier gums.
140   Colgate  Stronger, healthier gums.
180   Colgate  Stronger, healthier gums.
220   Colgate  Stronger, healthier gums.
260   Colgate  Stronger, healthier gums.
300   Colgate  Stronger, healthier gums.
340   Colgate  Stronger, healthier gums.
380   Colgate  Stronger, healthier gums.
421   Colgate  Stronger, healthier gums.
461   Colgate  Stronger, healthier gums.
501   Colgate  Stronger, healthier gums.
541   Colgate  Stronger, healthier gums.
562   Colgate  Stronger, healthier gums.
602   Colgate  Stronger, healthier gums.
642   Colgate  Stronger, healthier gums.
682   Colgate  Stronger, healthier gums.
722   Colgate  Stronger, healthier gums.
762   Colgate  Stronger, healthier gums.
802   Colgate  Stronger, healthier gums.
842   Colgate  Stronger, healthier gums.
882   Colgate  Stronger, healthier gums.
922   Colgate  Stronger, healthier gums.
947   Colgate  Stronger, healthier gums.
987   Colgate  Stronger, healthier gums.
1027  Colgate  Stronger, healthier gums.
1067  Colgate  Stronger, healthier gums.
1107  Colgate  Stronger, healthier gums.
1143  Colgate  Stronger, healthier gums.

Looks like a lots of classic duplicates, lets remove all such cases

In [24]:
df = df.drop_duplicates(keep=False)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549 entries, 0 to 1141
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  549 non-null    object
 1   Slogan   549 non-null    object
dtypes: object(2)
memory usage: 12.9+ KB

that's almost half the rows!

In [26]:
df.head(5)

            Company                                             Slogan
0      Costa Coffee                                 For coffee lovers.
1             Evian                                 Evian. Live young.
2            Dasani                     Designed to make a difference.
5         TÃ­o Pepe  Good food tastes better after a glass of Tio Pepe
6  Tetley's Brewery                         Don't Do Things By Halves.

Is there are more than one slogan for a company?

Is there same slogan for two companies?

In [30]:
# on 'Company' column
duplicate = df[df.duplicated('Company')]
  
print("Duplicate Rows based on Company :")
duplicate

Duplicate Rows based on Company :

Empty DataFrame
Columns: [Company, Slogan]
Index: []

In [32]:
# on 'Slogan' column
duplicate = df[df.duplicated('Slogan')]
  
print("Duplicate Rows based on Slogan :")
duplicate

Duplicate Rows based on Slogan :

               Company            Slogan
448  Stolichnaya vodka  Exquisite wodka.

In [33]:
df.loc[df['Slogan'] == 'Exquisite wodka.']

               Company            Slogan
334     Wyborowa Vodka  Exquisite wodka.
448  Stolichnaya vodka  Exquisite wodka.

Well, which one to keep? Since, I have no idea about the alcohols and google isn't much help. I am dropping both the rows. Normally, Would ask someone else or report it be inconsistent or of both are same, update it.

In [34]:
df = df[df.Slogan != "Exquisite wodka."]

Well, Now let's find out for each company how long a slogan is.

For that, count the number of words in a slogan.

In [41]:
#keep the number of wrods in a column

df['Number_of_words'] =  df['Slogan'].apply(lambda x: len(x.split()))

In [42]:
df.head(5)

            Company  ... Number_of_words
0      Costa Coffee  ...               3
1             Evian  ...               3
2            Dasani  ...               5
5         TÃ­o Pepe  ...              10
6  Tetley's Brewery  ...               5

[5 rows x 3 columns]

Let's first see the range of number of words

In [44]:
df['Number_of_words'].describe()

count    547.000000
mean       4.170018
std        1.483232
min        2.000000
25%        3.000000
50%        4.000000
75%        5.000000
max       10.000000
Name: Number_of_words, dtype: float64

Longest slogan has 10 words and shortest has 2. 

On average there are 4 words in a slogan.

Most slogans have 3-5 words.

## Conclusion