<a href="https://colab.research.google.com/github/BlackCurrantDS/Data-Mining/blob/master/Wiki_Books_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source - https://gist.github.com/wassname/5b10774dfcd61cdd3f28

A good read for step by step process - 

https://towardsdatascience.com/step-by-step-tutorial-web-scraping-wikipedia-with-beautifulsoup-48d7f2dfa52d

In [3]:
from bs4 import BeautifulSoup
import requests
import os
import codecs
wiki = "https://en.wikipedia.org/wiki/Books_published_per_country_per_year"
header = {
    'User-Agent': 'Mozilla/5.0'
}  # Needed to prevent 403 error on Wikipedia
page = requests.get(wiki, headers=header)
soup = BeautifulSoup(page.content)

tables = soup.findAll("table", {"class": "wikitable"})

# show tables
for i, table in enumerate(tables):
    print("#"*10 + "Table {}".format(i) + '#'*10)
    print(table.text[:100])
    print('.'*80)
print("#"*80)

for tn, table in enumerate(tables):

    # preinit list of lists
    rows = table.findAll("tr")
    row_lengths = [len(r.findAll(['th', 'td'])) for r in rows]
    ncols = max(row_lengths)
    nrows = len(rows)
    data = []
    for i in range(nrows):
        rowD = []
        for j in range(ncols):
            rowD.append('')
        data.append(rowD)

    # process html
    for i in range(len(rows)):
        row = rows[i]
        rowD = []
        cells = row.findAll(["td", "th"])
        for j in range(len(cells)):
            cell = cells[j]

            #lots of cells span cols and rows so lets deal with that
            cspan = int(cell.get('colspan', 1))
            rspan = int(cell.get('rowspan', 1))
            l = 0
            for k in range(rspan):
                # Shifts to the first empty cell of this row
                while data[i + k][j + l]:
                    l += 1
                for m in range(cspan):
                    cell_n = j + l + m
                    row_n = i + k
                    # in some cases the colspan can overflow the table, in those cases just get the last item
                    cell_n = min(cell_n, len(data[row_n])-1)
                    data[row_n][cell_n] += cell.text
                    print(cell.text)

        data.append(rowD)

    # write data out to tab seperated format
    page = os.path.split(wiki)[1]
    fname = 'output_{}_t{}.tsv'.format(page, tn)
    f = codecs.open(fname, 'w')
    for i in range(nrows):
        rowStr = '\t'.join(data[i])
        rowStr = rowStr.replace('\n', '')
        print(rowStr)
        f.write(rowStr + '\n')

    f.close()

##########Table 0##########


Rank

Country

Year

Titles

Notes

References


1

 United States

2013

275,232

New titles and
................................................................................
##########Table 1##########

Number of ISBNs registered per country[2]


Rank

Country

2018


1

 United States

3,485,322


2

................................................................................
################################################################################
Rank

Country

Year

Titles

Notes

References

1

 United States

2013

275,232

New titles and re-editions

[3]

2

 China

2013

208,418

New titles and re-editions

[3]

3

 United Kingdom

2018

188,000



[4]

4

 Japan

2017

139,078

New titles and re-editions

[5]

5

 Russia

2019

115,171



[6]

6

 Iran

2018

102,691

New and revised

[7]

7

 France

2018

106,799



[4]

8

 India

2013

90,000

total: revised editions not included; 26% in Hindi, 24% in English, and the rest in other Indian languages

[8][9]

9

 Spain

2017

89,962

New titles and re-editions (ediciones y reimpresiones)

[10]

10

 Germany

2018

79,916



[4]

11

 Turkey

2019

75,667

New titles and re-editions ("Derlenen Kitap Sayısı")

[11]

12

 South Korea

2018

63,476

New

[12]

13

 Italy

2013

61,966

New

[13]

14

 Brazil

2018

46,829



[4]

15

 Australia

2014

28,234



[14]

16

 Taiwan

2010

28,084

43,258 total

[15]

17

 Argentina

2014

28,010

New

[16]

18

 Vietnam

2009

24,589



[17]

19

 Ukraine

2019

24,416



[18]

20

 Poland

2015

21,130

34,920 total

[19]

21

 Czech Republic

2019

17,330



[20]

22

 Colombia

2017

17,066

18,508 total

[21]

23

 Netherlands

2014

16,502

Only physical Dutch new titles

[22]

24

 Malaysia

2015

15,354

Declined since 2013 at 19,987

[23]

25

 Romania

2008

14,984



[24]

26

 Canada

2018

14,625



[25]

27

 Hong Kong

2005

14,603



[26]

28

 Belgium

1991

13,913



[27]

29

 Finland

2018

9,368



[4]

30

 Thailand

2018

6,750

Only trade sector data; educational sector data not available

[4]

31

 Belarus

2020

8,205



[28]

32

 Denmark

2018

11,975



[4]

33

  Switzerland

2001

12,156



[29]

34

 Singapore

2007

12,000+



[30]

35

 Egypt

2010

12,000



[31]

36

 Serbia

2019

11,897



[32]

37

 Hungary

2012

11,645



[33]

38

 Norway

2015

10,204



[34]

39

 Bulgaria

2017

10,068



[35]

40

 Slovakia

2006

9,400



[36]

41

 Israel

2013

8,411



[37]

42

 Austria

1996

8,056



[27]

43

 Portugal

1996

7,868



[27]

44

 Mexico

2012

7,521

23,948 total

[38]

45

 Greece

2002

6,826



[39]

46

 Chile

2012

5,641

6,045 total

[40]

47

 South Africa

1995

5,418







[41]

48

 Sri Lanka

1996

4,115

[42]

49

 Peru

2006

4,101

[43]

50

 Sweden

2010

4,074

30,857 total

[44]

51

 Algeria

2008

3,955





[45]

52

 Estonia

2017

3,916

[46]

53

 Saudi Arabia

2014

2,387



[47]

54

 Pakistan

2012

3,811

Total; 2,943 in Urdu and 868 in English

[48]

55

 Lebanon

2005

3,686



[49]

56

 Morocco

2018/2019

3677



[50]

57

 Myanmar

1993

3,660



[42]

58

 New Zealand

2003

3,600



[51]

59

 Ecuador

2010

2,854

4,164 total

[52]

60

 Afghanistan

1990

2,795



[42]

61

 Venezuela

2018

2,275



[4]

62

 Luxembourg

2001

2,000



[29]

63

 Lithuania

2018

3,075



[4]

63

 Latvia

2018

2,910



[4]

64

 Philippines

1996

1,507



[42]

65

 Cuba

2018

992



[4]

66

 Iceland

2019

1,767



[53]

67

 Costa Rica

2018

2,158



[4]

68

 Nigeria

1991

1,314



[41]

69

 Kazakhstan

1996

1,226



[42]

70

 Syria

2004

1,138



[54]

71

 Uzbekistan

1996

1,003



[42]

72

 Eritrea

2015

970



[41]

73

 Cyprus

1996

930



[42]

74

 Tunisia

1996

720



[41]

75

 Dominican Republic

2018

1,866



[4]

76

 Uruguay

2018

3,231



[4]

77

 Bolivia

2018

1,578



[4]

78

 Georgia

1996

581



[42]

79

 Azerbaijan

1996

542



[42]

80

 Jordan

1996

511



[42]

81

 Panama

2018

940



[4]

82

 Turkmenistan

1994

450



[42]

83

 Guatemala

2018

1,042



[4]

84

 Kyrgyzstan

2018

1,455



[4]

85

 Malta

1995

404



[27]

86

 Fiji

1994

401



[55]

87

 Armenia

1996

396



[42]

88

 Paraguay

2018

1,007



[4]

89

 Albania

1991

390



[27]

90

 Nicaragua

2018

27



[4]

91

 Kenya

1994

300



[41]

92

 United Arab Emirates

1993

293



[42]

93

 Honduras

2018

102



[4]

94

 Uganda

1996

288



[41]

95

 Mongolia

1992

285



[42]

96

 El Salvador

2018

661



[4]

97

 Ethiopia

1991

240



[41]

98

 Zimbabwe

1992

232



[41]

99

  Vatican City

1996

228



[27]

100

 Qatar

1996

209



[42]

101

 Kuwait

1992

196



[42]

102

 Tanzania

1990

172



[41]

103

 Botswana

1991

158



[41]

104

 Tajikistan

1996

132



[42]

105

 Papua New Guinea

1991

122



[55]

106

 Madagascar

1996

119



[41]

107

 Malawi

1996

117



[41]

108

 Palestine

1996

114



[42]

109

 Namibia

1990

106



[41]

110

 Brunei

2009

91



[17]

111

 Laos

1995

88



[42]

112

 Benin

1994

84



[41]

113

 Mauritius

1996

80



[41]

114

 Réunion

1992

69



[41]

115

 Democratic Republic of the Congo

1992

64



[41]

116

 Andorra

1994

57



[27]

117

 Suriname

1996

47



[56]

117

 American Samoa

1980

46



[57]

118

 Guyana

1996

42



[56]

119

 Monaco

1990

41



[27]

120

 Bahrain

1996

40



[42]

121

 Ghana

1992

28



[41]

122

 Libya

1994

26



[41]

123

 Angola

1995

22



[41]

124

 Mali

1995

14



[41]

125

 Gambia

1996

14



[41]

126

 Burkina Faso

1996

12



[41]

127

 Oman

1996

7



[42]

Rank	Country	Year	Titles	Notes	References
1	 United States	2013	275,232	New titles and re-editions	[3]
2	 China	2013	208,418	New titles and re-editions	[3]
3	 United Kingdom	2018	188,000		[4]
4	 Japan	2017	139,078	New titles and re-editions	[5]
5	 Russia	2019	115,171		[6]
6	 Iran	2018	102,691	New and revised	[7]
7	 France	2018	106,799		[4]
8	 India	2013	90,000	total: revised editions not included; 26% in Hindi, 24% in English, and the rest in other Indian languages	[8][9]
9	 Spain	2017	89,962	New titles and re-editions (ediciones y reimpresiones)	[10]
10	 Germany	2018	79,916		[4]
11	 Turkey	2019	75,667	New titles and re-editions ("Derlenen Kitap Sayısı")	[11]
12	 South Korea	2018	63,476	New	[12]
13	 Italy	2013	61,966	New	[13]
14	 Brazil	2018	46,829		[4]
15	 Australia	2014	28,234		[14]
16	 Taiwan	2010	28,084	43,258 total	[15]
17	 Argentina	2014	28,010	New	[16]
18	 Vietnam	2009	24,589		[17]
19	 Ukraine	2019	24,416		[18]
20	 Poland	2015	21,130	34,920 total	[19]
21	 Czech Republic	2019	17,330		[20]
22	 Colombia	2017	17,066	18,508 total	[21]
23	 Netherlands	2014	16,502	Only physical Dutch new titles	[22]
24	 Malaysia	2015	15,354	Declined since 2013 at 19,987	[23]
25	 Romania	2008	14,984		[24]
26	 Canada	2018	14,625		[25]
27	 Hong Kong	2005	14,603		[26]
28	 Belgium	1991	13,913		[27]
29	 Finland	2018	9,368		[4]
30	 Thailand	2018	6,750	Only trade sector data; educational sector data not available	[4]
31	 Belarus	2020	8,205		[28]
32	 Denmark	2018	11,975		[4]
33	  Switzerland	2001	12,156		[29]
34	 Singapore	2007	12,000+		[30]
35	 Egypt	2010	12,000		[31]
36	 Serbia	2019	11,897		[32]
37	 Hungary	2012	11,645		[33]
38	 Norway	2015	10,204		[34]
39	 Bulgaria	2017	10,068		[35]
40	 Slovakia	2006	9,400		[36]
41	 Israel	2013	8,411		[37]
42	 Austria	1996	8,056		[27]
43	 Portugal	1996	7,868		[27]
44	 Mexico	2012	7,521	23,948 total	[38]
45	 Greece	2002	6,826		[39]
46	 Chile	2012	5,641	6,045 total	[40]
47	 South Africa	1995	5,418		[41]
48	 Sri Lanka	1996	4,115		[42]
49	 Peru	2006	4,101		[43]
50	 Sweden	2010	4,074	30,857 total	[44]
51	 Algeria	2008	3,955		[45]
52	 Estonia	2017	3,916		[46]
53	 Saudi Arabia	2014	2,387		[47]
54	 Pakistan	2012	3,811	Total; 2,943 in Urdu and 868 in English	[48]
55	 Lebanon	2005	3,686		[49]
56	 Morocco	2018/2019	3677		[50]
57	 Myanmar	1993	3,660		[42]
58	 New Zealand	2003	3,600		[51]
59	 Ecuador	2010	2,854	4,164 total	[52]
60	 Afghanistan	1990	2,795		[42]
61	 Venezuela	2018	2,275		[4]
62	 Luxembourg	2001	2,000		[29]
63	 Lithuania	2018	3,075		[4]
63	 Latvia	2018	2,910		[4]
64	 Philippines	1996	1,507		[42]
65	 Cuba	2018	992		[4]
66	 Iceland	2019	1,767		[53]
67	 Costa Rica	2018	2,158		[4]
68	 Nigeria	1991	1,314		[41]
69	 Kazakhstan	1996	1,226		[42]
70	 Syria	2004	1,138		[54]
71	 Uzbekistan	1996	1,003		[42]
72	 Eritrea	2015	970		[41]
73	 Cyprus	1996	930		[42]
74	 Tunisia	1996	720		[41]
75	 Dominican Republic	2018	1,866		[4]
76	 Uruguay	2018	3,231		[4]
77	 Bolivia	2018	1,578		[4]
78	 Georgia	1996	581		[42]
79	 Azerbaijan	1996	542		[42]
80	 Jordan	1996	511		[42]
81	 Panama	2018	940		[4]
82	 Turkmenistan	1994	450		[42]
83	 Guatemala	2018	1,042		[4]
84	 Kyrgyzstan	2018	1,455		[4]
85	 Malta	1995	404		[27]
86	 Fiji	1994	401		[55]
87	 Armenia	1996	396		[42]
88	 Paraguay	2018	1,007		[4]
89	 Albania	1991	390		[27]
90	 Nicaragua	2018	27		[4]
91	 Kenya	1994	300		[41]
92	 United Arab Emirates	1993	293		[42]
93	 Honduras	2018	102		[4]
94	 Uganda	1996	288		[41]
95	 Mongolia	1992	285		[42]
96	 El Salvador	2018	661		[4]
97	 Ethiopia	1991	240		[41]
98	 Zimbabwe	1992	232		[41]
99	  Vatican City	1996	228		[27]
100	 Qatar	1996	209		[42]
101	 Kuwait	1992	196		[42]
102	 Tanzania	1990	172		[41]
103	 Botswana	1991	158		[41]
104	 Tajikistan	1996	132		[42]
105	 Papua New Guinea	1991	122		[55]
106	 Madagascar	1996	119		[41]
107	 Malawi	1996	117		[41]
108	 Palestine	1996	114		[42]
109	 Namibia	1990	106		[41]
110	 Brunei	2009	91		[17]
111	 Laos	1995	88		[42]
112	 Benin	1994	84		[41]
113	 Mauritius	1996	80		[41]
114	 Réunion	1992	69		[41]
115	 Democratic Republic of the Congo	1992	64		[41]
116	 Andorra	1994	57		[27]
117	 Suriname	1996	47		[56]
117	 American Samoa	1980	46		[57]
118	 Guyana	1996	42		[56]
119	 Monaco	1990	41		[27]
120	 Bahrain	1996	40		[42]
121	 Ghana	1992	28		[41]
122	 Libya	1994	26		[41]
123	 Angola	1995	22		[41]
124	 Mali	1995	14		[41]
125	 Gambia	1996	14		[41]
126	 Burkina Faso	1996	12		[41]
127	 Oman	1996	7		[42]
Rank

Country

2018

1

 United States

3,485,322

2

 United Kingdom

185,721

3

 Germany

139,940

4

 Italy

137,397

5

 India

129,326

6

 Russia

103,826

7

 Brazil

95,336

8

 Japan

95,129

9

 Spain

86,872

10

 Turkey

67,135

11

 Canada

61,000

12

 Mexico

27,635

13

 Argentina

27,428

14

 Colombia

20,867

15

 Thailand

20,484

16

 Norway

9,209

17

 Netherlands

6,143

18

 Ecuador

4,744

19

 Nigeria

2,465

20

 Guatemala

1,137

21

 Honduras

388

Rank	Country	2018
1	 United States	3,485,322
2	 United Kingdom	185,721
3	 Germany	139,940
4	 Italy	137,397
5	 India	129,326
6	 Russia	103,826
7	 Brazil	95,336
8	 Japan	95,129
9	 Spain	86,872
10	 Turkey	67,135
11	 Canada	61,000
12	 Mexico	27,635
13	 Argentina	27,428
14	 Colombia	20,867
15	 Thailand	20,484
16	 Norway	9,209
17	 Netherlands	6,143
18	 Ecuador	4,744
19	 Nigeria	2,465
20	 Guatemala	1,137
21	 Honduras	388